[Desktop Entry]
Type=Application
Version=1.0
Name=Kramden Setup Tool
Comment=Kramden Setup Tool
Keywords=kramden;setup;
Exec=kramden-setup
Icon=kramden-logo.png
Terminal=false
Categories=Utilities;
