[Desktop Entry]
Type=Application
Version=1.0
Name=Provider Setup Tool
Comment=Provider Setup Tool
Keywords=kramden;setup;
Exec=provider_setup
Icon=provider-icon.png
Terminal=false
Categories=Utilities;
